@media (min-width: 320px) { 
   

     /* SITE BANNER: */
     .site-banner .banner-text {
        font-size: 15px;
    }

    .site-banner {
        margin-top: 64px;
    }

    .deal-show {
        margin-top: 84px;
    }

    .logo {
        display: none !important;
    }

    #left-nav {
        display: none !important;
    }

    .nav-trigger {
        display: block;
    }

    .menu-container {
        display: block;
    }

    .navbar {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    /* SEARCH: */
    #search-area input[type=search] {
        margin-left: 46px;
        width: 180px;
        z-index: 200;
        height: 30px;
    }

    #search-area button {
        font-size: 11.3px;
        padding:0;
        width: 30px;
        height: 30px;
        
    } 

    ul#suggestions {
        margin-left: 46px;
        width: 280px;
    }

    .logo-sm {
        display: block;
    }

    .deal-type, .deal-expire, .deal-date{
        font-size: 0.9rem;
    }

    .deal-img-con {
        width: 26%;
        margin-left: 0px;
        margin-top: 44.5px;
    }

    .deal-detail-con {
        width: 60%;
        margin-left: 0.4rem;
    }

    .buy-now {
        display: none;
    }

       .free-shipping {
        position: absolute;
        left: 0;
        font-size: 0.9rem;
        top: 1.3rem;
        width: 120px;
    }

    .buy-now-sm-con {
        display: block;
        margin: 0 auto;
        margin-top: 0.5rem;
    }

    .buy-now-sm-con a {
        width: 7rem;
        border-radius: 10px;
        font-size: .8rem;
    }

    .buy-now-sm-con .copy-code-con {
        width: 7rem;
        display: inline-block;
        border-radius: 10px;
    }

    .coupon-con { 
        width: 8rem;
        font-size: .8rem;
    }

    .deal-title {
        font-size: .94rem;
    }
    
    .deal-price, .deal-savings {
        font-size: 1rem;
        font-weight: bold;
        margin-right: .4rem;
    }

    .deal-discount,  .deal-old-price{
        display: none !important;
    }
      
    .deal-store {
        position: absolute;
        border-left: 1px solid #ccc;
        padding-left: .5rem;
        padding-top: .09rem;
        width: 180px;
        top: 0rem;
        height: 1.5rem;
        font-size: .94rem;
    
    }

    .deal-description {
        margin-top: 3rem;
        text-align: justify;

    }
 
    
 }

@media (min-width: 360px) { 
 

     /* SITE BANNER: */
     .site-banner .banner-text {
        font-size: 15px;       
    }

    .deal-type, .deal-expire, .deal-date{
        font-size: 0.9rem;
    }

    

    .deal-img-con {
        width: 35%;
        margin-left: 8px;
        margin-top: 28px;
    }

    .deal-detail-con {
        width: 60%;
        
    }

    .buy-now {
        display: none;
    }

    .deal-title {
        font-size: .94rem;
    }
    
    .deal-price, .deal-savings {
        font-size: 1rem;
        font-weight: bold;
        margin-right: .4rem;
    }

   

    .deal-discount,  .deal-old-price{
        display: none !important;
    }

    .free-shipping {
        position: absolute;
        left: 0;
        font-size: 0.9rem;
        top: 1.2rem;
        width: 120px;
    }

    .buy-now-sm-con {
        display: block;
        width: 100%;
        margin-top: 0.5rem;
        text-align: center;
    }

    .buy-now-sm-con a {
        width: 7rem;
        border: 1px solid tan;
        border-radius: 10px;
    }

    .buy-now-sm-con .copy-code-con {
        width: 7rem;
        display: inline-block;
        border-radius: 10px;
    }

   

      
    .deal-store {
        position: absolute;
        border-left: 1px solid #ccc;
        padding-left: .5rem;
        padding-top: .09rem;
        width: 180px;
        top: 0rem;
        height: 1.5rem;
        font-size: .94rem;
    }

  

    .deal-description {
        margin-top: 3rem;
        text-align: justify;

    }
}

/* Small (sm) devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
   
     /* SITE BANNER: */
     .site-banner .banner-text {
       
        font-size: 18px;
       
    }
 }

/* Medium (md) devices (tablets, 768px and up) */
@media (min-width: 768px) { 
        /* SITE BANNER: */
        .site-banner .banner-text {
            font-size: 20px;
        }

        .deal-type, .deal-expire, .deal-date{
            font-size: 1.2rem;
        }
    
    
        .deal-img-con {
            width: 25%;
            margin-left: 16px;
            margin-top: 26.5px;
        }
    
        .deal-detail-con {
            width: 70%;
            margin-left: 0.8rem;
        }
  

    .buy-now {
        margin-top: 1.8rem;
        margin-right: .5rem;
        float: right;
        display: block;
        clear: none;
        text-align: unset;
    }

    .buy-now a {
        width: 8rem;
        border-radius: 10px;
    }


    .deal-title {
        font-size: 1.4rem;
    }
    
    .deal-price, .deal-discount, .deal-savings {
        font-size: 1.5rem;
        font-weight: bold;
        margin-right: 1rem;
    }

    .deal-discount {
        margin-left: 1rem;
    }

    .deal-discount,  .deal-old-price{
        display: inline-block !important;
    }

    .deal-old-price {
        font-size: 1.2rem;
    }

    .buy-now-sm-con {
        display: none;
    }
      
    .deal-store {
        position: absolute;
        border-left: 1px solid #ccc;
        padding-left: .9rem;
        padding-top: .3rem;
        top: 0rem;
        height: 1.5rem;
        width: 180px;
        font-size: 1.05rem;
    }


    .free-shipping {
        position: absolute;
        left: 0;
        font-size: 1.2rem;
        top: 1.8rem;
        width: 120px;
    }

    .deal-description {
        margin-top: 8rem;
        text-align: justify;

    }

       
}

/* Large (lg) devices (desktops, 992px and up) */
@media (min-width: 992px) { 
   

    /* SITE BANNER: */
       .site-banner .banner-text {
        font-size: 26px;
    }

    
    .deal-type, .deal-expire, .deal-date{
        font-size: 1.2rem;
    }


    .deal-img-con {
        width: 23%;
        margin-left: 16px;
        margin-top: 26.5px;
    }

    .deal-detail-con {
        width: 70%;
        
    }


    .buy-now {
        margin-top: 1.8rem;
        margin-right: .5rem;
        float: right;
        display: block;
        clear: none;
        text-align: unset;
    }

    .buy-now a {
        width: 8rem;
        border-radius: 10px;
    }


    .deal-title {
        font-size: 1.4rem;
    }

    .deal-price, .deal-discount, .deal-savings {
        font-size: 1.5rem;
        font-weight: bold;
        margin-right: 1rem;
    }

    .deal-discount {
        margin-left: 1rem;
    }

    .deal-discount,  .deal-old-price{
        display: inline-block !important;
    }

    .deal-old-price {
        font-size: 1.2rem;
    }

    .buy-now-sm-con {
        display: none;
    }
  
    .deal-store {
        position: absolute;
        border-left: 1px solid #ccc;
        padding-left: .9rem;
        padding-top: .3rem;
        top: 0rem;
        height: 2.1rem;
        width: 180px;
        font-size: 1.05rem;
    }


    .free-shipping {
        position: absolute;
        left: 0;
        font-size: 1.2rem;
        top: 1.8rem;
        width: 120px;
    }

    .deal-description {
        margin-top: 8rem;
        text-align: justify;

    }
   
 }


/* Extra (xl) large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
   
   /* SITE BANNER: */
   .site-banner .banner-text {
       font-size: 28px;
   }

   .nav-trigger {
       display: none;
   }

   #left-nav {
       display: flex !important;
   }

   .menu-container {
       display: none;
   }

   .logo {
       margin-left: 0rem;
   }

   .navbar {
       position: relative;
     
   }

   .site-banner {
       margin-top: 0px;
   }

   .deal-show {
       margin-top: 0px;
   }

   /* SEARCH: */
   #search-area input[type=search] {
       margin-left: 0px;
       width: 360px;
       z-index: 200;
       height: 36px;
   }

   #search-area button {
       font-size: 15.3px;
       padding:0;
       width: 46px;
       height: 36px;
       
   } 

   ul#suggestions {
       margin-left: 0px;
       width: 360px;
   }

   .logo {
       display: block !important;
   }

   .logo-sm {
       display: none;
   }

   /* deals styles */
   .deal-type, .deal-expire, .deal-date{
       font-size: 1.2rem;
   }

   .deal-box {
       height: auto !important;
   }


   .deal-img-con {
       width: 15%;
       margin-left: 1rem;
       margin-top: 15px;
   }

   .deal-detail-con {
       width: 80%;
       margin-left: 1rem;
   }

   .buy-now {
       margin-right: 1rem;
       float: right;
       clear: none;
       display: block;
       text-align: unset;
   }

   .deal-title {
       font-size: 1.3rem;
   }
   
   .deal-price, .deal-savings {
       font-size: 1.5rem;
       font-weight: bold;
       margin-right: 1rem;
   }

   .deal-discount {
       font-size: 1.4rem;
   }

   .deal-discount {
       margin-left: 1rem;
   }

   .deal-discount,  .deal-old-price{
       display: inline-block !important;
   }

   .deal-old-price {
       font-size: 1.2rem;
   }

   .buy-now-sm-con {
       display: none;
   }

   .free-shipping {
       position: absolute;
       left: 0;
       font-size: 1.2rem;
       top: 2rem;
   }
     
   .deal-store {
       position: absolute;
       border-left: 1px solid #ccc;
       padding-left: .9rem;
       padding-top: .3rem;
       width: 180px;
       top: 0rem;
       height: 2.1rem;
       font-size: 1.05rem;
   }

   .deal-description {
       margin-top: 7rem;
       text-align: justify;

   }
}